config:
  job_code: "{{ job_code }}"
  boot_protocol: "{{ boot_protocol }}"
  iso_name: "{{ iso_name }}"
  hostname: "{{ hostname }}"
  domain: "{{ domain }}"
  ipv4_address: "{{ ipv4_address }}"
  ipv4_gateway: "{{ ipv4_gateway }}"
  ipv4_netmask: "{{ ipv4_netmask }}"
  ipv4_dns: "{{ ipv4_dns }}"
  ipv4_dns_search: "{{ ipv4_dns_search }}"
  ssh_public_key: "{{ ssh_public_key }}"
  root_password: "{{ root_password_hash }}"