apiServer:
    # Kube apiserver advertise address to work around the certificates issue when requiring external access using the node IP. This will turn into the IP configured in the endpoint slice for kubernetes service. Must be a reachable IP from pods. Defaults to service network CIDR first address.
    advertiseAddress: ""
    # SubjectAltNames added to API server certs
    subjectAltNames:
{% for san in microshift_config.apiServer.subjectAltNames %}
        - "{{ san }}"
{% endfor %}
debugging:
    logLevel: {{ microshift_log_level | default('Normal') }}
dns:
    baseDomain: {{ microshift_base_domain }}
etcd:
    memoryLimitMB: 0
manifests:
    kustomizePaths:
        - /usr/lib/microshift/manifests
        - /usr/lib/microshift/manifests.d/*
        - /etc/microshift/manifests
        - /etc/microshift/manifests.d/*
network:
    clusterNetwork:
{% for cidr in microshift_config.network.clusterNetworkCIDRs %}
        - {{ cidr }}
{% endfor %}
    # IP address pool for services. Currently, we only support a single entry here. This field is immutable after installation.
    serviceNetwork:
{% for svcNet in microshift_config.network.serviceNetwork %}
    - {{ svcNet }}
{% endfor %}
    # The port range allowed for Services of type NodePort. If not specified, the default of 30000-32767 will be used. Such Services without a NodePort specified will have one automatically allocated from this range. This parameter can be updated after the cluster is installed.
    serviceNodePortRange: {{ microshift_config.network.serviceNodePortRange }}
node:
    hostnameOverride: ""
    nodeIP: "{{ microshift_node_ip | default('') }}"