debugging:
  # Log verbosity ('Normal', 'Debug', 'Trace', 'TraceAll'):
  logLevel: "{{ microshift_log_level | default('Normal') }}"

dns:
  # Base domain of the cluster. All managed DNS records will be sub-domains of this base.
  baseDomain: {{ microshift_base_domain }}

apiServer:
  # The Subject Alternative Names for the external certificates in API server (defaults to hostname -A)
  subjectAltNames:
{% for san in microshift_config.apiServer.subjectAltNames %}
    - {{ san }}
{% endfor %}

node:
  # If non-empty, use this string to identify the node instead of the hostname
  hostnameOverride: ""
  # IP address of the node, passed to the kubelet.
  # If not specified, kubelet will use the node's default IP address.
  nodeIP: "{{ microshift_node_ip | default('') }}"

network:
  clusterNetwork:
  # IP range for use by the cluster
{% for cidr in microshift_config.network.clusterNetworkCIDRs %}
    - cidr: {{ cidr }}
{% endfor %}
  serviceNetwork:
  # IP range for services in the cluster
{% for svcNet in microshift_config.network.serviceNetwork %}
    - {{ svcNet }}
{% endfor %}
  # Node ports allowed for services
  serviceNodePortRange: {{ microshift_config.network.serviceNodePortRange }}

etcd:
  # Memory limit for etcd, in Megabytes: 0 is no limit.
  memoryLimitMB: 0

manifests:
  # The locations on the filesystem to scan for kustomization files to use to load manifests. Set to a list of paths to scan only those paths. Set to an empty list to disable loading manifests. The entries in the list can be glob patterns to match multiple subdirectories.
  kustomizePaths:
    - /usr/lib/microshift/manifests
    - /usr/lib/microshift/manifests.d/*
    - /etc/microshift/manifests
    - /etc/microshift/manifests.d/*