name = "si-fdo"
description = "A rhel-edge simplified-installer image for use with FDO"
version = "0.0.5"
modules = []
groups = []
distro = ""

{% for package in packages %}
[[packages]]
name = "{{ package }}"

{% endfor %}

[customizations]
installation_device = "{{ installation_device | default('/dev/sda') }}"

[customizations.locale]
languages = ["en_US.UTF-8"]
keyboard = "us"

[customizations.fdo]
manufacturing_server_url = "{{ fdo_manufacturing_server_url }}"
diun_pub_key_insecure = "true"

[customizations.timezone]
timezone = "{{ timezone }}"
ntpservers = [{% for ntpserver in ntp_servers %}"{{ ntpserver }}"{% if not loop.last %}, {% endif %}{% endfor %}]

[[customizations.sshkey]]
user = "root"
key = "{{ root_ssh_key }}"