{
    "name": "Build and Distribute Image",
    "description": "Create Blueprint, Images, and Distribute",
    "spec": [
      {
        "question_description": "Site Config Name",
        "min": 0,
        "default": "",
        "max": 255,
        "required": true,
        "choices": "",
        "new_question": true,
        "variable": "site_config_name",
        "question_name": "Site Config Name",
        "type": "text"
      }
    ]
}